/* Create it to moblie and than scale up, add grafics, photos etc. */
 
:root {
--navigation-bar-color: hsla(0,0%,50%,0.5);
--side-navigation-bar-width:0vw;
--side-navigation-bar-fix-width:100vw;
--navigation-bar-transition:0.7s;
--navigation-elements-transition:0.3s;
--lvl1: 1;
--lvl2: var(--lvl1)+1;
--lvl3: var(--lvl2)+1;
--lvl4: var(--lvl3)+1;
--lvl5: var(--lvl4)+1;
--body-background-color:#353535;
--textcolor1:#86B42B;

/*Monokai dimm color palette*/
--c6:#1e1e1e;
--c87:#272727;
--c10:#303030;
--c19:#282828;
--c86:#353535;
--c31:#404040;
--c8:#676b7180;
--c97:#666666;
--c3:#444444;
--c2:#4e4e4e;
--c5:#565656;
--c82:#505050;
--c16:#505037;
--c18:#707057;
--c1:#707070;
--c12:#949494;

--c94:#8C6BC8;
--c8266:#AE81FF;
--c8235:#819aff;
--c11:#575b6180;
--c13:#4747a180;
--c14:#6767ce80;
--c83:#3655b5;
--c93:#6A7EC8;
--c95:#56ADBC;
--c825:#66D9EF;
--c91:#86B42B;
--c99:#A6E22E;
--c8221:#e2e22e;
--c92:#B3B42B;
--c4:#e58520;
--c15:#c07020;
--c89:#C4265E;
--c98:#f92672;

--c56:#d8d8d8;
--c7:#c5c8c6;
--c88:#CCCCCC;
--c96:#e3e3dd;
--c8241:#f8f8f2;
--c84:#ffffff;
}

body {
position: relative;
margin: 0; 
height: 100%; 
background-color: var(--body-background-color,hsla(0,0%,0%,0));

/* Hide scrollbar for IE, Edge and Firefox */
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.side-menu {
display: block;
height: 100%; /* 100% Full-height */
width: var(--side-navigation-bar-width);  /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: var(--lvl4); /* Stay on top */
top: 0px;
left: 0px;
background:hsla(0,0%,0%,0);
overflow-x: hidden; /* Disable horizontal scroll */
overflow-y: hidden;	/* Disable vertical scroll */
transition: var(--navigation-bar-transition); /* 0.5 second transition effect to slide in the sidenav */
text-align:center;
}

#togglebutton {
width: 12vh;
height: 12vh;
position: fixed; /* Stay in place */
z-index: var(--lvl4);
top: 0;
left: var(--side-navigation-bar-width);
margin-right: -4.5px;
transition: var(--navigation-bar-transition);
fill:var(--navigation-bar-color);
}

#nav-background {
position: absolute; /* Fill up the container with this background (not the most elegant solution) */
z-index: -1; /* Stay in background */
fill:var(--navigation-bar-color);
top: 0;
left: 0;
transition: var(--navigation-bar-transition);
}

#nav-sidenavplaceholder {
margin: 0;
padding: 0;
border-width: 0;
width: 100%; 
height: 6vh;
}

#nav-profilepic {
display:block;
width:var(--side-navigation-bar-fix-width);
height:29vh;
margin-left: auto;
margin-right: auto;
transition: var(--navigation-elements-transition);
}

.side-menu#profilepic {
z-index: var(--lvl5);
width: 50%;
height: 50%;
}

.side-menu a {
display: block; /* Make the links appear below each other instead of side-by-side */
z-index: var(--lvl5);
transition: 0.3s; /* Add transition for hover effects */
color: black; /* White text color */
font-size: 5vh; /* Increased font-size */
text-align: center;
text-decoration: none;
color:black;
white-space: nowrap;
padding-top: 0.6vh; 
padding-bottom: 0.6vh;
}

#nav-links {
position: absolute;
width: var(--side-navigation-bar-fix-width);
top: 35vh;/*mid 32.478vh;*/
display:block;
transition: var(--navigation-elements-transition);
}

.side-menu a:hover {
background-color: #d7d7d7 ; /* Add a hover color */
}

#nav-socicons-wrap {
height: 0px;
width: var(--side-navigation-bar-fix-width);
}

#nav-socicons {
position: relative;
top: 82vh;
width: 18vh;
display:block;
margin-left: auto;
margin-right: auto;
transition: var(--navigation-elements-transition);
}

#nav-socicons > div {
padding-right: 2px;
}

#content-socicons {
position: relative;
font-size: 0px;
margin-left: 450px;
margin-right: auto;
padding-bottom: 30px;
}
#content-socicons > div {
padding-right: 3.333%;
}

.SocialIcons > div {
display:inline-block;
width:30%;
}

.tope {
height: 60px;
margin: 0px;
}

.main {
font-size: 0px;
text-align: center;
}

.main > div {
display:inline-block;
}

.righte {
display:inline;
width: auto;
font-size: 16px;
background-color: rgb(141, 51, 224);
}

.contentse {
background-color:rgba(128, 128, 128, 0);
z-index: var(--lvl3);
width: 70%;
text-align: left;
font-size: 16px;
color:--textcolor1;
}

.lefte {
display:inline;
width: auto;
font-size: 16px;
background-color: burlywood;
}

#welcome {
padding-left: 60px;
width: 400px;
padding-top: 30px;
}

#forest-background {
position:absolute;
top:0;
margin: auto;
z-index: -1;
height: 100vh;
width: 100vw; 
fill:hsla(120,0%,50%,0.25);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) { 
  :root {
  --test-body-backgroundcolor:rgb(255, 248, 230);
  --side-navigation-bar-fix-width:180px;
  } 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
