/* Create it to moblie and than scale up, add grafics, photos etc. */

:root {
  --navigation-bar-color: hsla(0, 0%, 50%, 0.5);
  --side-navigation-bar-width: 0vw;
  --side-navigation-bar-fix-width: 100vw;
  --navigation-bar-transition: 0.7s;
  --navigation-elements-transition: 0.3s;
  --lvl1: 1;
  --lvl2: var(--lvl1) + 1;
  --lvl3: var(--lvl2) + 1;
  --lvl4: var(--lvl3) + 1;
  --lvl5: var(--lvl4) + 1;
  --body-background-color: #353535;
  --textcolor1: #a6e22e;
  --textcolor2: #6f991b;
  --textcolor3: #c5c8c5;
  --projects_color1: #819aff;
  --job_color1: #e2e22e;
  --header_color1: #c5c8c5;
  --wiki_color1: #a6e22e;
  --about_me_color1: #e58520;
  --contacts_color1: #f92672;
  --link_color1: #d8d8d8;

  /*Monokai dimm color palette*/
  --c6: #1e1e1e;
  --c87: #272727;
  --c10: #303030;
  --c19: #282828;
  --c86: #353535;
  --c31: #404040;
  --c8: #676b7180;
  --c97: #666666;
  --c3: #444444;
  --c2: #4e4e4e;
  --c5: #565656;
  --c82: #505050;
  --c16: #505037;
  --c18: #707057;
  --c1: #707070;
  --c12: #949494;

  --c94: #8c6bc8;
  --c8266: #ae81ff;
  --c8235: #819aff;
  --c11: #575b6180;
  --c13: #4747a180;
  --c14: #6767ce80;
  --c83: #3655b5;
  --c93: #6a7ec8;
  --c95: #56adbc;
  --c825: #66d9ef;
  --c123: #6f991b;
  --c91: #86b42b;
  --c99: #a6e22e;
  --c8221: #e2e22e;
  --c92: #b3b42b;
  --c4: #e58520;
  --c15: #c07020;
  --c89: #c4265e;
  --c98: #f92672;

  --c56: #d8d8d8;
  --c7: #c5c8c6;
  --c88: #cccccc;
  --c96: #e3e3dd;
  --c8241: #f8f8f2;
  --c84: #ffffff;
}

html {
  height: 100%;
  background-image: url('https://fastly.picsum.photos/id/566/2517/1667.jpg?hmac=A_qvcmTIcF4MLh_XTi6ovrhNqEP_udvuCzwLSWK5Ip0');
  /* Set a specified height, or the minimum height for the background image */
  min-height: 500px;

  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
}

body {
  position: relative;
  height: 100%;
  /*background-color: var(--body-background-color, hsla(0, 0%, 0%, 0));*/
  background-color: transparent;
}

:root {
  --shadow: var(--textcolor2);
  --scrollbarBG: var(--header_color1);
  --thumbBG: var(--textcolor1);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 95vh var(--shadow);
}

/* Fade-In Effect */
.visible {
  /*visibility: visible;*/
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

/* Fade-Out Effect */
.hidden {
  /*visibility: hidden;*/
  opacity: 0;
  /*transition: visibility 0s 2s, opacity 0.9s ease-in-out;*/
  transition: opacity 0.9s ease-in-out;
}

a {
  font-family: monospace;
  text-decoration: none;
  color: var(--link_color1, #707070);
}

a:hover {
  text-decoration: none;
  color: none;
}

header {
  background-color: var(--body-background-color, hsla(0, 0%, 0%, 0));
  border-bottom-color: var(--header_color1, #c5c8c5);
  border-bottom-width: 1;
  border-bottom-style: solid;
}

main#homepage {
  margin: 6vh 6vw auto 6vw;
  color: var(--c8241, #707070);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  border: 2px solid rgba(251, 251, 251, 0.2);
  background: transparent;
}

#profile_pic {
  border-radius: 12px;
  border: 2px solid rgba(251, 251, 251, 0.2);
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_FtIemFK1nsn9EetmkOYMu2yVvb0jwOyw0BYTpcwQFzYllpPt2IecstRiaKx8AOzE8cZxSFmkNvK4SwdZaXOjYcACSmftrrMFGF1IQnXR0a8Wamo1EUCgTC4Dx4OUlKe89uNRJCXPd9rz2dO_xZ8qOh6R7Y1aiPEPf7sIrCCwsrM8_8mZXuWPHfzVFfn6JZM7v3oXAuJkFQrh8H9GOqcB3Ka7eSGcZ2yYjdwaFyOPcS1rirw_8-Xxg0SwrNeVclJWK8pHNQLZZzCjguKRIbiVWqOjhoNizPQ1uOnKa3fMZYyy518bGMiRLdkyIoQ1qB4yJj7tYrE3PoeNTZsvcW5TWIbcPsQaCjJrwNDD5JccAb3Ydxh7YJt4bW8svcDwKL0pPIZVHSrQZROXhpyvQo-hf4csN4gJQ2fdjICQFkFyjudlrQ8vtNnMEc1rTejom8zXqQyFJotEcC8XxdLbSixsFg9wj8jqIDYtz1IyHj4ui_-vJMfF6LpqQsZEx5_yKNUdAiFLYpLuO5CfNgbi8fSm68n-iXATJK24BKHJWOUmIb30jpJ9qJMdj5Wi3YsJyqtMOeXnRR5FUjMfZhgAxYY-LAwreOF4PF88XUWpgubxrcm3EAXMDzlBvUAt1XaQziacV6shj9QPr3z1HFOvQs05b0Wv6EYyGxWzyv03nKU4HB6HCjwg59G0YPpOJJBxONgqQeVsuBB2xZ1QR34l6hQUTrg0XT_1epN-1Mtirf9YJN9gfXKFollHfSIlNWYugU784r8K8-VV8_RSrQpaOXnT9fGYCgb7ZqpcmihrPhtsnLCBSmLy1pGUyzFFzjsg8es1H_bvY9y0UV8K95iSxamV6OKk_Vhulgwqp7u42qu3S3VMVYh0nmA_SzRjDudVaYwu39xQof6tyWWIJMqcSNQP_TUOrTmoTs5LZIOQz4y80XJ0L5rlpfvLmhCuog0TF3yc7eZzkZVfNkaFHse2n9kCScJxwZwhqdYz4u5T84-1r80BLKg3D5OCLKjD7GVWAvqFw-S1w92NBVarhgsGq8yArsnw_yZTKrY57Hr39KjJWqjZ5XydqvLawBzTedDMW1KfOuffe6ZL6u3w_yr03fPC68a-a8VVBJng3MJ9Ii5jnEtpLrFZWDGcLPwJZ7DzswkVUIUineadjbLdeJ2H8BxT-3TeIJr1eSXrPU7m3xIVOhWOZXuuC0ZIKU_FM5Y2hZoNqHoZSuWiqXD7IlwlLwq1tFY88YYAfUnwLyS-ChH-CfvZux6SUX6hl9ri7ZnYmM0DV_zOq9xI8xQXnrF2vvcHTRnme6tO_pkrHyCoyt16Vq_vE9INZTf7YCBYMHZ5cxMY5kD3gFQ50BgOgZt2s0Jdyg2lRJ8q5yhATIr4heZET_l2pWBkPdVdHZnA8xr-6ADhrjIJQ8wg3QnIohoc-KOS2oOhHsQToCj1a2bOgXNXckq23MCmviQ3WX-GQWxpswMyhtAZtSpGggCFWfLtQ5Utkzd3PKPoNaXtdfbLYasnqEqcLvzyLk27r8FNI_-xb5E6dXJje0dqQE7f2L44klmZXkKrqFyGKyd3wwgbrLJjl4m2V-dp3qirwY7J3nnX_dwaRZtEbv8-HM9cKMdGiGHV2WaPtd10yt6N_kh85usDYqWGWda78Qf0uOf0W6lC9DKIgLC5atNQkXkHDuVHFE6CF9Ojiexg=w2048-h2732');
  min-height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
}

footer {
  color: var(--textcolor3, #707070);
}

#welcome {
  color: var(--textcolor1, #a6e22e);
  font-family: monospace;
}

#homepage_intro_text {
  color: var(--textcolor3, #86b42b);
  font-family: monospace;
}

.N_link,
.N_link:hover {
  text-decoration: none;
  color: var(--header_color1, #c5c8c5);
}

.W_projects_link,
.W_projects_link:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--projects_color1, #707070);
}

.W_job_link,
.W_job_link:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--job_color1, #707070);
}

.W_wiki_link,
.W_wiki_link:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--wiki_color1, #707070);
}

.W_about_me_link,
.W_about_me_link:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--about_me_color1, #707070);
}

.W_contacts_link,
.W_contacts_link:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--contacts_color1, #707070);
}

/*.contentse > section > p {
  color: var(--textcolor3, #707070);
  font-family: monospace;
  white-space: nowrap;
}*/

.W_contacts_links,
.W_contacts_links:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--link_color1, #707070);
}

.project_card_text,
.project_card_text:hover {
  font-family: monospace;
  text-decoration: none;
  color: var(--textcolor3, #707070);
}

#google_speaker {
  fill: var(--textcolor3, #707070);
}

@media (max-width: 575.98px) {
  header {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    padding-bottom: 4px;
  }
}

@media (min-width: 1200px) {
  header {
    padding-bottom: 4px;
  }
}

.btn:focus {
  outline: none;
}

.portfolio-card {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.portfolio-card > figure {
  position: relative;
  border-radius: 12px;
  padding: 0px;
  margin: 0px;
  display: block;
}

.portfolio-card > figure > img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.portfolio-card > figure > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #666666;
  padding: 0em 1em;
  border-radius: 12px;
  transition: 0.45s ease-in-out;
}

.portfolio-card > figure > figcaption > .leftlink {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 45%;
  display: inline;
}

.portfolio-card > figure > figcaption > .rightlink {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 45%;
  display: inline;
}

.portfolio-card > figure > figcaption:hover {
  opacity: 0.95;
}


