.share-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-dialog {
  display: none;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: -1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.share-dialog.is-open {
  display: block;
  z-index: 2;
}

#close-button {
  cursor: pointer;
}

#copy-tooltip {
  display: block;
  font-size: 80%;
  position: absolute;
  background: #86b42b;
  color: #fff;
  padding: 0rem 0rem;
  border-radius: 4px;
  top: 0;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 3;
  opacity: 0;
}

#copy-tooltip.active {
  -webkit-animation: slide-up 0.15s cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
  animation: slide-up 0.15s cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
}

#copy-tooltip.inactive {
  -webkit-animation: slide-up 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
  animation: slide-up 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}

#copy-tooltip:after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid darken(royalblue, 20);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0) scale(0.8);
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-35px) scale(1);
    transform: translateY(-35px) scale(1);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0) scale(0.8);
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-35px) scale(1);
    transform: translateY(-35px) scale(1);
    opacity: 1;
  }
}
